.my-navbar {
  background-color: #dcc6ae;
}

.my-logo {
  max-width: 90px;
}

.my-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-nav .nav-item {
  display: inline-block;
  margin-left: 20px;
}

.my-nav .nav-link {
  text-decoration: none;
  color: #000;
}

.footer {
  width: 100%;
  flex-shrink: 0; /* Evita que el footer se contraiga */
}

.separator {
  border-right: 2px solid #8a6666; /* Cambiar el color y el grosor de la línea si lo deseas */
  height: 45px; /* Ajustar la altura de la línea según sea necesario */
  margin: 0 10px; /* Ajustar los márgenes para el espacio adecuado */
  border-radius: 10px; /* Agregar bordes redondos */
}

@media (min-width: 992px) {
  .footer {
    position: relative;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Agrega esta regla para el contenido principal */
.main-content {
  flex: 1;
}

.carousel-item {
  border-radius: 0 !important; /* Cambiar la forma del carrusel a un cuadrado */
}

.text-left {
  padding: 20px;
}

.img-fluid {
  max-width: 65%;
  height: auto;
}

.text-left h2 {
  color: #333;
  font-size: 28px;
}

.text-left p {
  color: #666;
  font-size: 18px;
}

/* Ajustes para la altura del cuadro de productos destacados */
@media (min-width: 992px) {
  .bg-light {
    min-height: 100%;
  }
}
